{% extends 'Monitor/patientDetails.html' %}

{% block body %}
    <!--script src='Intro.js' type='text/javascript' ></script-->
    {% if ECG %}
    <iframe src = "/Monitor/{{pID}}/conciseTable" id = "tableFrame" style = "height: 300px; width: 100%">

    </iframe>
    <div id = "tableContainer">
    <table id = "ecgTable">
        <h3><tr><th>Sample No</th><th>SensorID</th><th>PatientID</th><th>TimeStamp</th><th>ECG Data</th></tr></h3> 
        {% for ecgData in ECG %}
            {% if ecgData.patientID.patientID == pID %}
            <tr>
                <td>{{ forloop.revcounter }} </td><!--{{ forloop.counter0 }} # starting index 0-->
                <td>{{ ecgData.sensorID.sensorID }} </td>
                <td>{{ ecgData.patientID.patientID }}</td>
                <td>{{ ecgData.time }}</td>
                <td>{{ ecgData.data }}</td>
            </tr>
            {% endif %}
        {% endfor %}
    </table>
    </div>

    {% else %}
        <h3>No data available.</h3>
    {% endif %}

    <script>
        window.onload = function refreshTable() {
            setInterval(function () {
                console.log('hi');
                var iframe = document.getElementById('tableFrame')//.contentDocument.location.reload(true);
                iframe.src = iframe.src;
                ecgTable = document.getElementById('ecgTable');
                //console.log(`{{ECG}}`);
                ecgTable.innerHTML = '';
                //conciseTable = insertAdjacentHTML('beforeend', '<h3 id = "dataRow">No data available.</h3>')
                header = `<h3><tr><th>Sample No</th><th>SensorID</th><th>PatientID</th><th>TimeStamp</th><th>ECG Data</th></tr></h3>`
                ecgTable.insertAdjacentHTML('beforeend', header)
                /*for (ecgData in ECG){
                    console.log('hi-');
                    `{% if ecgData.patientID.patientID == pID %}`
                    console.log('hi--');
                    row = `
                    <tr>
                        <td>{{ forloop.revcounter }} </td><!--{{ forloop.counter0 }} # starting index 0-->
                        <td>{{ ecgData.sensorID.sensorID }} </td>
                        <td>{{ ecgData.patientID.patientID }}</td>
                        <td>{{ ecgData.time }}</td>
                        <td>{{ ecgData.data }}</td> 
                    </tr>`
                    ecgTable.insertAdjacentHTML('beforeend', row);
                `{% endif %}`
                }
                //document.getElementById('tableContainer').insertAdjacentHTML('beforeend', conciseTable)*/
            }, 1500);
        }
    </script>

{% endblock %}