{% extends 'Monitor/patientDetails.html' %}
{% load static %}
{% block body %}
    <!--script src='Intro.js' type='text/javascript' ></script-->
    {% if ECG %}
    <div id="chartContainer" style="height: 300px; width: 100%;"></div>
    <!--script href="/Monitor/templates/Monitor/canvasjs.min.js"></script-->
    <!--script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script-->
    <script rel="text/javascript" src="{% static 'js/canvasjs.js' %}"></script>
    <!--script rel="text/javascript" src="{% static 'js/jquerycanvasjs.js' %}"></script-->
    <!--iframe src = "/Monitor/{{pID}}/conciseTable" id = "tableFrame" style = "height: 300px; width: 100%">

    </iframe-->
    <div id = "tableContainer" style = "height: 300px; width: 100%">
    <table id = "ecgTable">
        <h3><tr><th>Sample No</th><th>SensorID</th><th>PatientID</th><th>TimeStamp</th><th>ECG Data</th></tr></h3> 
        {% for ecgData in ECG %}
            {% if ecgData.patientID.patientID == pID %}
            <tr id = "row{{ forloop.revcounter }}">
                <td>{{ forloop.revcounter }} </td><!--{{ forloop.counter0 }} # starting index 0-->
                <td>{{ ecgData.sensorID.sensorID }} </td>
                <td>{{ ecgData.patientID.patientID }}</td>
                <td id = "time{{ forloop.revcounter }}">{{ ecgData.time }}</td>
                <td id = "data{{ forloop.revcounter }}">{{ ecgData.data }}</td>
            </tr>
            {% endif %}
        {% endfor %}
    </table>
    </div>

    {% else %}
        <h3>No data available.</h3>
    {% endif %}

    <script>
        window.onload = function refreshGraphTable() {
            var tableData = []
            //Chart 1
            //Create Chart
            var createChart = function () {
                var chart = new CanvasJS.Chart("chartContainer", {
                    animationEnabled: true,
                    zoomEnabled: true,
                    theme: "dark2",//"light2",
                    title:{
                        text: "ECG Line Chart"
                    },
                    axisX:{   
                        title: "Sample No",
                        valueFormatString: "####",
                        interval: 10,
                        titleFontColor: "#51CDA0",
                        titleFontSize: 22,
                        labelFontSize: 16,
                        //valueFormatString: "YYYY-MM-DD HH:MM:SS" ,
                        //labelAngle: -50
                    },
                    axisY:{
                        title: "ECG Level",
                        interval: 250,
                        indexLabelFontSize: 24,
                        labelFontSize: 16,
                        titleFontColor: "#6D78ED",
                        titleFontSize: 22,
                        lineColor: "#6D78ED",//"#51CDA0",
                        //gridThickness: 0,
                        lineThickness: 2,
                        //labelFormatter: addSymbols
                    },
                    data: [{        
                        type: "spline",//"line",
                        indexLabelFontSize: 24,
                        color: "#51CDA0",
                        //{ y: 414},
                        // y: 520, indexLabel: "\u2191 highest",markerColor: "red", markerType: "triangle" },
                        //{ y: 410 , indexLabel: "\u2193 lowest",markerColor: "DarkSlateGrey", markerType: "cross" },
                        dataPoints: []// { x:10, y: 414},  { x:20, y: 144},  { x:30, y: 204},]
                    }]
                });
                return chart
            }
            chart = createChart()
            //Insert Initial Values
            ecgg = "{{ ecg | escapejs }}"
            pIDD = "{{ pID | escapejs }}"
            samples = "{{samples | escapejs }}"
            sampleRate = "{{ sampleRate | escapejs }}"
            //ecg = JSON.parse(document.getElementById('data').textContent);
            i = 0
            ecggParsed = JSON.parse(ecgg)
            patientParsed = '{{ ecgData.patientID.patientID }}'

            for (i = 0; i < ecggParsed.length; i++) {
                //console.log(i)//datetime.now(IST).strftime("%Y-%m-%d %H:%M:%S.%f")
                if (ecggParsed[i].fields.patientID == pIDD) {
                    //console.log(i)
                    chart.options.data[0].dataPoints.push({x: i, y: ecggParsed[i].fields.data})
                }
            }
            chart.render();
            //Update Chart
            setInterval(function () {
                //console.log('hi');
                //Chart 2
                //document.getElementById("chartContainer").innerHTML = '<object type="text/html" data="/Monitor/{{pID}}/chart" style = "height: 300px; width: 100%"></object>'
                fetch('/Monitor/{{pID}}/sample').then(function(response) {
                    return response.json();
                }).then(function(json) {
                    let sample = json;
                    //chart = createChart()
                    console.log(sample[0].patientID, sample.length);// console.log(chart.options.data[0].dataPoints[0]);
                    for (i = 0; i < sample.length; i++) {
                        //console.log(i)//datetime.now(IST).strftime("%Y-%m-%d %H:%M:%S.%f")
                        if (sample[i].patientID == pIDD) {
                            //console.log(i)
                            chart.options.data[0].dataPoints.shift()
                            sample[i].data += Math.random()*100
                            chart.options.data[0].dataPoints.push({x: i, y: sample[i].data})
                            //chart.render();
                        }
                    }
                    tableData = sample;
                    chart.render();
                }).catch(function(err) {
                    console.log('Fetch problem: ' + err.message);
                });
            }, 1000);
            //Update table
            setInterval(function () {
                console.log('hi');
                //Table 1
                //document.getElementById('tableContainer').innerHTML = '<object type="text/html" data="/Monitor/{{pID}}/conciseTable" style = "height: 300px; width: 100%"></object>'
                //Table 2
                //var iframe = document.getElementById('tableFrame')//.contentDocument.location.reload(true);
                //iframe.src = iframe.src;
                //Table 3
                if (!tableData) {
                    ecgTable = document.getElementById('ecgTable');
                    ecgTable.innerHTML = '';
                    ecgTable.insertAdjacentHTML('beforeend', '<h3 id = "dataRow">No data available.</h3>')
                }
                else {
                //console.log(sample[0], sample.length); console.log(chart.options.data[0].dataPoints[0]);
                for (i = tableData.length; i > 0 ; i--) {
                    //console.log(i)//datetime.now(IST).strftime("%Y-%m-%d %H:%M:%S.%f")
                    if (tableData[i-1].patientID == pIDD) {
                        //console.log(i, time)
                        var time = document.getElementById('time' + i);
                        var data = document.getElementById('data' + i);
                        time.innerHTML = new Date(tableData[i-1].time) //tableData[i-1].time.getMilliseconds();//.replace('Z', '').replace('T', ' ');
                        data.innerHTML = tableData[i-1].data;
                    }
                }
                }
            }, 1000);
        }
    </script>
    <style>
        /*#tableFrame {
           width: 100%;
           height: 300px;
           overflow-y:scroll;
       }*/
       #completeTable {
           text-align:right;
       }
       #tableContainer {
           width: 100%;
           height: 500px;
           overflow-y:scroll;
       }
   
       #ecgTableHeader {
           font-family: Arial, Helvetica, sans-serif;
           border-collapse: collapse;
           width: 100%;
           text-align: center;
       }
   
       #ecgTable {
           font-family: Arial, Helvetica, sans-serif;
           border-collapse: collapse;
           width: 100%;
           text-align: center;
       }
       
       #ecgTableHeader td, #ecgTableHeader th {
           border: 1px solid #ddd;
           padding: 8px;
       }
   
       #ecgTable td, #ecgTable th {
           border: 1px solid #ddd;
           padding: 8px;
           font-size: large;
       }
       
       #ecgTable tr:nth-child(even){background-color: #f2f2f2;}
       
       #ecgTable tr:hover {background-color: #ddd;}
       
       #ecgTableHeader th {
           padding-top: 12px;
           padding-bottom: 12px;
           text-align: center;
           background-color: #4CAF50;
           color: white;
       }
   
       #ecgTable th {
           padding-top: 12px;
           padding-bottom: 12px;
           text-align: center;
           background-color: #0bc480;/*#4CAF50;*/
           font-size:larger;
           color: white;
           position:sticky;
           top: 0;
       }
   </style>

{% endblock %}